body {
    font-family: 'Times New Roman';


    background-color: darkolivegreen;
}

#_MenuPanel {
    position: fixed;
    background-color: lightgray;
    right: 10px;
    top: 100px;
}

#ScrollToToday {
    position: fixed;
    top: 1px;
    right: 1px;
    padding: 10px;
    margin: 10px;
    opacity: 0.8;
}

#menuPanelToggler {
    position: fixed;
    top: 45px;
    right: 1px;
    padding: 10px;
    margin: 10px;
    opacity: 0.8;
}










.hili_td {
    border: 2px solid yellow;
}

.hili_day {
    border: 2px solid green;
}

.leftbox {
    background-color: #ff0000;
}



.hebrew {
    FONT-SIZE: 23px;
    COLOR: #001320;
    LINE-HEIGHT: 33px;
    font-family: Ezra SIL, SBL Hebrew, Palatino Linotype, Palatino, Century Schoolbook L, Times New Roman, Cardo, Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none;
}








table {
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
}

table caption {
    margin-top: 20px;
}

#tab0 {
    margin-top: 150px;
    border-collapse: collapse;
}

#tab2 {
    margin-bottom: 100px;
    border: 1px solid grey;
}

thead{
    background-color: #999999;
}
th {
    background-color: #999999;
    border-color:  #999999;;
}
.mnth{
    align-content:flex-end;
    
}



td {
    width: 60px;
    vertical-align: top
}

.thidx {
    font-size:xx-small;
    background-color: white;
    margin-bottom: 10px;
    
}
.vertxt {
    display: flex;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-lr;
    min-height: 1em;
    line-height: 1em;


}
.month_mark {
    font-size:x-small;

    padding-left: 0px;
    padding-right: 2px;
    font-weight: lighter;

   
}


.month1 {
    background-color: #E6E6E6;
}

.month2 {
    background-color: #98BAE7;
}

.month3 {
    background-color: #B8E4F0;
}

.month4 {
    background-color: rgb(223, 240, 128);
}

.month5 {
    background-color: #CCFFBD;
}

.month6 {
    background-color: rgb(132, 240, 128);
}

.month7 {
    background-color: rgb(188, 240, 128);

}

.month8 {
    background-color: #FFD384;
}

.month9 {
    background-color: #FFAEC0;
}

.month10 {
    background-color: rgb(233, 220, 47);
}

.month11 {
    background-color: #BECA5C;
}

.month12 {
    background-color: #C996CC;
}




div.noteTag {
    margin-left: 1px;
    display: block;
    color: blue;

    font-size: small;

    overflow: hidden;

    white-space: nowrap;

    height: 50px;
}

.noteTag:focus {
    background-color: yellow;
}

.noteTag ol,
.noteTag ul {
    margin-left: -25px;
    margin-top: 0px;
    padding-top: 0px;
}

.noteTag ul li {
    margin-left: -2px;
    padding-left: -200px;
}


.dayNum {
    font-size: xx-large;
    display: inline;
    float: left;
}

.dayNum[iweek='0'],
.dayNum[iweek='6'] {
    color: red;
}

.dayNum[iweek='3'] {
    color: rgb(89, 89, 247);
}

.todayNum {
    border: 5px solid cyan;
    animation: blinkingBackground 3s infinite;
}

@keyframes blinkingBackground {
    20% {
        opacity: 0;
    }

    30% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

.hili_notes {
    background-color: yellow;
}
.mergedtxt{
    background-color: lightcoral;
    border: 1px solid black;
}


#editorboard {

    background-color: yellow;
    display: none;
    xxxxwhite-space: nowrap; /*inherited by editxt*/

    
    height: 230px;
    padding: 20px 20px;

    margin-left: auto;
    margin-right: auto;

    
    font-size: large;
}

#editxt {
    background-color: lightgoldenrodyellow;
    xxborder: 1px solid blue;
     
    overflow-wrap: break-word;
    overflow: scroll; 

    width: 370px;
    height: 200px;

}
.afterload{
    border: 4px solid green;
}
ol{
    margin-left: -15px;
}

#outx {
    overflow-wrap: break-word;
    overflow: scroll;
    xxwhite-space: pre;
    width: 200px;
    height: 200px;
}


/**********/

.cmp div {
    overflow: scroll;
    white-space: nowrap;
}

div.cmpitm {
    width: 100%;
}

div.Hili_cmp {
    background-color: lightgreen;
}

.ReservedDay {
    font-size: xx-small;
    border: 0;
    margin: 0;
    padding: 0 0 0 1px;
}

.ReservedDesc {
    font-size: xx-small;
    border: 0;
    margin: 0;
    padding: 0 0 0 1px;
    background-color: cyan;
}

.hili{
    background-color: red;
}
.hili_run_start{
    background-color: red;
}
.hili_run_stop{
    border: 1px solid red;
}